In [1]:
import numpy as np 
import pandas as pd

In [2]:
# load Male data
dfm = pd.read_excel("world_population_male.xlsx", skiprows=16)
dfm.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20524 entries, 0 to 20523
Columns: 112 entries, Index to 100+
dtypes: float64(2), int64(3), object(107)
memory usage: 71.0 MB

In [3]:
#load Female data
dff = pd.read_excel("world_population_female.xlsx", skiprows=16)
dff.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20524 entries, 0 to 20523
Columns: 112 entries, Index to 100+
dtypes: float64(2), int64(3), object(107)
memory usage: 71.0 MB

In [4]:
print(dfm.shape)
dff.shape

(20524, 112)

(20524, 112)

In [5]:
# list columns
dfm.columns.tolist()

['Index',
 'Variant',
 'Region, subregion, country or area *',
 'Notes',
 'Location code',
 'ISO3 Alpha-code',
 'ISO2 Alpha-code',
 'SDMX code**',
 'Type',
 'Parent code',
 'Year',
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 '100+']

In [6]:
# Check for duplication
dfm.Index.astype('object').describe()

count     20524
unique    20524
top           1
freq          1
Name: Index, dtype: int64

In [7]:
# drop Index columns
dfm.drop("Index", axis=1, inplace=True)
dff.drop("Index", axis=1, inplace=True)

In [8]:
dfm.Variant.describe()

count         20524
unique            1
top       Estimates
freq          20524
Name: Variant, dtype: object

In [9]:
dff.Variant.describe()

count         20524
unique            1
top       Estimates
freq          20524
Name: Variant, dtype: object

In [10]:
# drop Variant columns from  both dataFrame
dfm.drop("Variant", axis=1, inplace=True)
dff.drop("Variant", axis=1, inplace=True)

In [11]:
dfm["Region, subregion, country or area *"].describe()

count                     20524
unique                      288
top       Australia/New Zealand
freq                        144
Name: Region, subregion, country or area *, dtype: object

In [12]:
dff["Region, subregion, country or area *"].describe()

count                     20524
unique                      288
top       Australia/New Zealand
freq                        144
Name: Region, subregion, country or area *, dtype: object

In [13]:
# rename column to 'region'
dff.rename(columns={'Region, subregion, country or area *': 'region'}, inplace=True)
dfm.rename(columns={'Region, subregion, country or area *': 'region'}, inplace=True)

In [14]:
dfm.Notes.describe()

count     5403
unique      45
top          2
freq       792
Name: Notes, dtype: int64

In [15]:
dfm.Notes.sample(n=10, random_state=42)

1272       j
3222     NaN
17835    NaN
20156     34
19138    NaN
16612    NaN
18697     31
18306     17
7136     NaN
14410    NaN
Name: Notes, dtype: object

In [16]:
dff.Notes.describe()

count     5403
unique      45
top          2
freq       792
Name: Notes, dtype: int64

In [17]:
# drop Note Columns
dfm.drop("Notes", axis=1, inplace=True)
dff.drop("Notes", axis=1, inplace=True)

In [18]:
dfm['Location code'].astype("object").describe()

count     20524
unique      289
top         900
freq         72
Name: Location code, dtype: int64

In [19]:
# drop column  'location_code' 
dfm.drop('Location code', axis=1, inplace=True)
dff.drop('Location code', axis=1, inplace=True)

In [20]:
dfm['ISO3 Alpha-code'].describe()

count     16992
unique      236
top         BDI
freq         72
Name: ISO3 Alpha-code, dtype: object

In [21]:
dfm['ISO3 Alpha-code'].sample(n=10, random_state=1)

813      NaN
7463     AFG
2682     SYC
15432    JAM
10103    TUR
8005     LKA
2078     ETH
11413    FRO
4360     TUN
7160     JPN
Name: ISO3 Alpha-code, dtype: object

In [22]:
dfm['ISO2 Alpha-code'].describe()

count     16920
unique      235
top          BI
freq         72
Name: ISO2 Alpha-code, dtype: object

In [23]:
dfm['ISO2 Alpha-code'].sample(n=10, random_state=1)

813      NaN
7463      AF
2682      SC
15432     JM
10103     TR
8005      LK
2078      ET
11413     FO
4360      TN
7160      JP
Name: ISO2 Alpha-code, dtype: object

In [24]:
# Drop columns 'ISO*'
dfm.drop('ISO2 Alpha-code', axis=1, inplace=True)
dfm.drop('ISO3 Alpha-code', axis=1, inplace=True)
dff.drop('ISO2 Alpha-code', axis=1, inplace=True)
dff.drop('ISO3 Alpha-code', axis=1, inplace=True)

In [25]:
dfm['SDMX code**'].astype('object').describe()

count     20232.0
unique      279.0
top         419.0
freq        144.0
Name: SDMX code**, dtype: float64

In [26]:
dfm['SDMX code**'].sample(n=10)

8875     704.0
19472    584.0
6532     762.0
5165     132.0
198      747.0
15803    659.0
20280    772.0
556       53.0
9945     275.0
13096    807.0
Name: SDMX code**, dtype: float64

In [27]:
dfm.drop("SDMX code**", axis=1, inplace=True)
dff.drop("SDMX code**", axis=1, inplace=True)

In [28]:
dfm['Type'].astype('object').describe()

count            20524
unique               9
top       Country/Area
freq             16992
Name: Type, dtype: object

In [29]:
dfm['Type'].sample(n=10)

5915     Country/Area
19148    Country/Area
5779     Country/Area
9162     Country/Area
13256    Country/Area
14415    Country/Area
3865     Country/Area
165        SDG region
5808     Country/Area
6342     Country/Area
Name: Type, dtype: object

In [30]:
dfm.rename(columns={'Type': "type"}, inplace=True)
dff.rename(columns={'Type': "type"}, inplace=True)

In [31]:
dfm['Parent code'].astype('object').describe()

count     20524
unique       35
top         915
freq       2016
Name: Parent code, dtype: int64

In [32]:
dfm['Parent code'].sample(n=10, random_state=42)

1272     1802
3222      903
17835     931
20156     957
19138     928
16612     916
18697     927
18306     905
7136      906
14410     915
Name: Parent code, dtype: int64

In [33]:
dff['Parent code'].sample(n=10, random_state=42)

1272     1802
3222      903
17835     931
20156     957
19138     928
16612     916
18697     927
18306     905
7136      906
14410     915
Name: Parent code, dtype: int64

In [34]:
dfm.drop('Parent code',axis=1, inplace=True)
dff.drop('Parent code',axis=1, inplace=True)

In [35]:
dfm["Year"].astype('datetime64[ns]').describe()

/tmp/ipykernel_7287/1131223301.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  dfm["Year"].astype('datetime64[ns]').describe()

count                             20520
unique                               72
top       1970-01-01 00:00:00.000001950
freq                                285
first     1970-01-01 00:00:00.000001950
last      1970-01-01 00:00:00.000002021
Name: Year, dtype: object

In [36]:
dfm.rename(columns={'Year': 'year'}, inplace=True)
dff.rename(columns={'Year': 'year'}, inplace=True)
dff.columns

Index(['region',   'type',   'year',        0,        1,        2,        3,
              4,        5,        6,
       ...
             91,       92,       93,       94,       95,       96,       97,
             98,       99,   '100+'],
      dtype='object', length=104)


#### For Age columns we will combine them in 6 principal phases:
1. Early Childhood (0-6 years):
2. Middle Childhood (7-12 years): 
3. Adolescents (13 years through 17 years):
4. Young Adults (18-25 years): This stage is characterized by the pursuit of higher education, starting careers, and developing more stable relationships. .
5. Middle Adulthood (26-64 years): During this stage, individuals tend to establish their careers and family l
6. Late Adulthood (65 years and older): Physical changes associated with aging become more apparent. Retirement and adjusting to a new phase of life are common in this stage.

In [37]:
# convert column labels to string
dfm.columns = list(map(str, dfm.columns))
dff.columns = list(map(str, dfm.columns))
dfm.columns

Index(['region', 'type', 'year', '0', '1', '2', '3', '4', '5', '6',
       ...
       '91', '92', '93', '94', '95', '96', '97', '98', '99', '100+'],
      dtype='object', length=104)

In [38]:
dfm['0'].dtypes

dtype('O')

In [39]:
# check unique value type
dfm['0'].apply(type).unique()

array([<class 'float'>, <class 'int'>, <class 'str'>], dtype=object)

In [40]:
dfm['0'].sample(n=10)

6270       324.727
12276      975.468
15607       0.0285
2945       679.465
5738       46.6475
8122     5733.8425
2589         7.789
12769      447.806
15373      109.853
11874        0.572
Name: 0, dtype: object

In [41]:
# retrieve values of type string
str_values = dfm[dfm["0"].apply(lambda x: isinstance(x, str))]["0"].tolist()
str_values

['...', '...', '...', '...']

In [42]:
# check another column
str_values = dfm[dfm["12"].apply(lambda x: isinstance(x, str))]["12"].tolist()
str_values

['...', '...', '...', '...']

In [43]:
# retrieve rows with error values
dfm[dfm['0'] == '...']

,region,type,year,0,1,2,3,4,5,6,...,91,92,93,94,95,96,97,98,99,100+
72,Sustainable Development Goal (SDG) regions,Label/Separator,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,UN development groups,Label/Separator,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154,World Bank income groups,Label/Separator,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,Geographic regions,Label/Separator,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

In [44]:
# we will delete these  rows
dfm = dfm[dfm['0'] != '...']
dff = dff[dff['0'] != '...']

In [45]:
# checking
dff[dff['0'] == '...']

Empty DataFrame
Columns: [region, type, year, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, ...]
Index: []

[0 rows x 104 columns]

In [ ]:
dfm.index

In [47]:
# reset index
dfm.reset_index(drop=True,inplace=True)
dff.reset_index(drop=True, inplace=True)
dfm.index

RangeIndex(start=0, stop=20520, step=1)

In [48]:
dfm.iloc[:, 4: ].columns.tolist()

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100+']

In [49]:
# fix age columns dtypes
for col in dfm.iloc[:, 3: ].columns.tolist():
    dfm[col] = dfm[col].astype('float64')
for col in dff.iloc[:, 3: ].columns.tolist():
    dff[col] = dff[col].astype('float64')

In [50]:
dfm["early_child"] = 0
dff["early_child"] = 0

for col in dfm.iloc[:, 3:10].columns.tolist():
    dfm["early_child"] = dfm["early_child"] + dfm[col]
    dff["early_child"] = dff["early_child"] + dff[col]
    dff.drop(col, axis=1, inplace=True)
    dfm.drop(col, axis=1, inplace=True)

/tmp/ipykernel_7287/2862868009.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfm["early_child"] = 0
/tmp/ipykernel_7287/2862868009.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dff["early_child"] = 0

In [51]:
dfm["middle_child"] = 0
dff["middle_child"] = 0
for col in dfm.iloc[:, 3:9].columns.tolist():
    dfm["middle_child"] = dfm["middle_child"] + dfm[col]
    dff["middle_child"] = dff["middle_child"] + dff[col]
    dff.drop(col, axis=1, inplace=True)
    dfm.drop(col, axis=1, inplace=True)

In [52]:
dfm["adolescent"] = 0
dff["adolescent"] = 0


for col in dfm.iloc[:, 3:8].columns.tolist():
    dfm["adolescent"] = dfm["adolescent"] + dfm[col]
    dff["adolescent"] = dff["adolescent"] + dff[col]
    dff.drop(col, axis=1, inplace=True)
    dfm.drop(col, axis=1, inplace=True)

In [53]:
dfm["young_adult"] = 0
dff["young_adult"] = 0

for col in dfm.iloc[:, 3:11].columns.tolist():
    dfm["young_adult"] = dfm["young_adult"] + dfm[col]
    dff["young_adult"] = dff["young_adult"] + dff[col]
    dff.drop(col, axis=1, inplace=True)
    dfm.drop(col, axis=1, inplace=True)

In [54]:
dfm["middle_adult"] = 0
dff["middle_adult"] = 0


for col in dfm.iloc[:, 3:42].columns.tolist():
    dfm["middle_adult"] = dfm["middle_adult"] + dfm[col]
    dff["middle_adult"] = dff["middle_adult"] + dff[col]
    dff.drop(col, axis=1, inplace=True)
    dfm.drop(col, axis=1, inplace=True)

In [55]:
dfm["late_adult"] = 0
dff["late_adult"] = 0
for col in dfm.iloc[:, 3:39].columns.tolist():
    dfm["late_adult"] = dfm["late_adult"] + dfm[col]
    dff["late_adult"] = dff["late_adult"] + dff[col]
    dff.drop(col, axis=1, inplace=True)
    dfm.drop(col, axis=1, inplace=True)

In [56]:
dfm.columns.tolist()

['region',
 'type',
 'year',
 'early_child',
 'middle_child',
 'adolescent',
 'young_adult',
 'middle_adult',
 'late_adult']

In [57]:
# create a sex column before concatinating 
dfm['sex'] = 'M'
dff['sex'] = 'F'

In [63]:
# add a total column
dfm['total_sex'] = 0
dff['total_sex'] = 0
for col in dfm.iloc[:, 3:9].columns.tolist():
    dfm['total_sex'] += dfm[col]

for col in dff.iloc[:, 3:9].columns.tolist():
    dff['total_sex'] += dff[col]

In [65]:
data = pd.concat([dfm, dff], ignore_index=True)
data

,region,type,year,early_child,middle_child,adolescent,young_adult,middle_adult,late_adult,sex,total_sex
0,WORLD,World,1950.0,230529.2240,161033.9955,125821.5410,178320.5340,493281.8695,56375.8005,M,1.245363e+06
1,WORLD,World,1951.0,239557.3425,161242.1755,127984.8960,181008.4160,500784.4200,56895.9320,M,1.267473e+06
2,WORLD,World,1952.0,249579.3075,162030.2515,129539.2825,183799.3335,508838.3730,57613.4340,M,1.291400e+06
3,WORLD,World,1953.0,259827.1235,164110.9880,130574.2420,185995.3585,517634.5770,58516.9335,M,1.316659e+06
4,WORLD,World,1954.0,269013.2385,167852.7750,131217.1090,188302.4650,527061.8125,59475.7710,M,1.342923e+06
...,...,...,...,...,...,...,...,...,...,...,...
41035,Wallis and Futuna Islands,Country/Area,2017.0,0.6260,0.6380,0.5600,0.5755,3.0715,0.6955,F,6.166500e+00
41036,Wallis and Futuna Islands,Country/Area,2018.0,0.6000,0.6225,0.5585,0.5535,3.0640,0.7140,F,6.112500e+00
41037,Wallis and Futuna Islands,Country/Area,2019.0,0.5705,0.6085,0.5445,0.5525,3.0590,0.7310,F,6.066000e+00
41038,Wallis and Futuna Islands,Country/Area,2020.0,0.5465,0.5965,0.5290,0.5600,3.0585,0.7495,F,6.040000e+00
41039,Wallis and Futuna Islands,Country/Area,2021.0,0.5280,0.5825,0.5135,0.5770,3.0610,0.7705,F,6.032500e+00

In [66]:
# create a new columns to hold the total populations
for idx in range(int(data.shape[0]/2)):
    data.loc[idx, 'total'] = data.loc[idx, 'total_sex'] + data.loc[int(idx + data.shape[0]/2), 'total_sex']

In [67]:
# checking
data[(data['region'] == 'France') & (data['year'] ==2020)]

,region,type,year,early_child,middle_child,adolescent,young_adult,middle_adult,late_adult,sex,total_sex,total
13750,France,Country/Area,2020.0,2541.473,2429.8415,2013.693,2992.868,15353.3565,5844.9450,M,31176.177,64480.053
34270,France,Country/Area,2020.0,2436.390,2321.8415,1916.600,2893.852,16033.1700,7702.0225,F,33303.876,NaN

In [68]:
# drop unecessary rows
data = data[data['type'].isin(['Country/Area', 'Region', 'World'])]

In [69]:

data['region'].replace('AFRICA', 'africa', inplace=True)
data['region'].replace('ASIA', 'asia', inplace=True)
data['region'].replace('EUROPE', 'europe', inplace=True)
data['region'].replace('LATIN AMERICA AND THE CARIBBEAN', 'south america', inplace=True)
data['region'].replace('NORTHERN AMERICA', 'north america', inplace=True)
data['region'].replace('OCEANIA', 'oceania', inplace=True)

/tmp/ipykernel_7287/372314664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'].replace('AFRICA', 'africa', inplace=True)
/tmp/ipykernel_7287/372314664.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'].replace('ASIA', 'asia', inplace=True)
/tmp/ipykernel_7287/372314664.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'].replace('EUROPE', 'europe', inplace=True)
/tmp/ipykernel_7287/372314664.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'].replace('LATIN AMERICA AND THE CARIBBEAN', 'south america', inplace=True)
/tmp/ipykernel_7287/372314664.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'].replace('NORTHERN AMERICA', 'north america', inplace=True)
/tmp/ipykernel_7287/372314664.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'].replace('OCEANIA', 'oceania', inplace=True)

In [70]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34992 entries, 0 to 41039
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        34992 non-null  object
 1   type          34992 non-null  object
 2   year          34992 non-null  float64
 3   early_child   34992 non-null  float64
 4   middle_child  34992 non-null  float64
 5   adolescent    34992 non-null  float64
 6   young_adult   34992 non-null  float64
 7   middle_adult  34992 non-null  float64
 8   late_adult    34992 non-null  float64
 9   sex           34992 non-null  object
 10  total_sex     34992 non-null  float64
 11  total         17496 non-null  float64
dtypes: float64(9), object(3)
memory usage: 9.2 MB

In [71]:
data.shape

(34992, 12)

In [72]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34992 entries, 0 to 41039
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        34992 non-null  object
 1   type          34992 non-null  object
 2   year          34992 non-null  float64
 3   early_child   34992 non-null  float64
 4   middle_child  34992 non-null  float64
 5   adolescent    34992 non-null  float64
 6   young_adult   34992 non-null  float64
 7   middle_adult  34992 non-null  float64
 8   late_adult    34992 non-null  float64
 9   sex           34992 non-null  object
 10  total_sex     34992 non-null  float64
 11  total         17496 non-null  float64
dtypes: float64(9), object(3)
memory usage: 9.2 MB

In [73]:
data.to_csv("data.csv", index=False)